.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10em;
}

.container{
    display: flex;
    align-items: center;
}

.container__titulo{
    font-size: 18px;
    font-weight: 500;
    margin-left: 0.5em;
    color: var(--preto);
}

.opcoes{
    display: flex;
    padding: 2em;
    margin-right: auto;
    margin-left: 9em;
}

.lista__menu-link{ 
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    margin: 0 1em;    
}

.container__link{
    text-decoration: none;
    font-weight: 500;
    color: var(--cinza);
}

.container .cadastrar{
    background: var(--vermelho-vinho);
    color: var(--branco);
    padding: 0.8em;
    border-radius: 8px;
    margin-left: 2em;
}